@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 20 14.3% 4.1%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --card: 0 0% 97.5%;
    --card-foreground: 20 14.3% 4.1%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --primary: 47.9 100% 45.38%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
    /* Feedback colors */
    --destructive: 10 78% 46%;
    --destructive-foreground: 0 0% 100%;
    --success: 131 78% 46%;
    --success-foreground: 131 78% 6%;
    --warning: 38 78% 46%;
    --warning-foreground: 38 78% 6%;
    --info: 211 78% 46%;
    --info-foreground: 0 0% 100%;
  }
  .dark {
    --background: 0 4% 5%;
    --foreground: 45.4 5% 90%;
    --card: 0 0% 5%;
    --card-foreground: 45.4 5% 90%;
    --popover: 45.4 11% 5%;
    --popover-foreground: 45.4 5% 90%;
    --primary: 45.4 93.4% 47.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 45.4 11% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 7.399999999999999 11% 15%;
    --muted-foreground: 45.4 5% 60%;
    --accent: 7.399999999999999 11% 15%;
    --accent-foreground: 45.4 5% 90%;
    --border: 45.4 20% 18%;
    --input: 45.4 20% 18%;
    --ring: 45.4 93.4% 47.5%;
    --radius: 0.5rem;
    /* Feedback colors */
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;
    --success: 98 78% 16%;
    --success-foreground: 98 78% 56%;
    --warning: 48 78% 16%;
    --warning-foreground: 48 78% 56%;
    --info: 229 78% 16%;
    --info-foreground: 229 78% 76%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer utilities {
  .h-screen-without-navbar {
    @apply min-h-[calc(100vh-140.45px)];
  }
}
